*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#fff8f0,#f5e6d3);
}

.card{
    width:400px;
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.1);
}

.logo{
    text-align:center;
    margin-bottom:30px;
}

.logo h1{
    color:#8b5e3c;
}

.logo p{
    color:#777;
}

.input-group{
    margin-bottom:15px;
}

input{
    width:100%;
    padding:12px;
    border:1px solid #ddd;
    border-radius:10px;
    outline:none;
}

input:focus{
    border-color:#c89f7a;
}

button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    background:#8b5e3c;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#70472c;
}

.registro-link{
    margin-top:20px;
    text-align:center;
}

.registro-link span{
    color:#777;
    font-size:14px;
}

.registro-link a{
    color:#4a90e2;
    text-decoration:none;
    font-size:14px;
    font-weight:600;
}

.registro-link a:hover{
    text-decoration:underline;
}

#mensaje{
    margin-top:15px;
    text-align:center;
    color:#8b5e3c;
    font-weight:500;
}